*{
    /*border:1px solid red;*/
}
/*pic box*/
div.items{
    width:auto;
    display:inline;
    text-align:center;
    height: auto;
}
div.items ul{
    padding:200px 0px;

}
div.items ul li{
    display:inline-block;
}
div ul li img{
    height: 150px;
    width: auto;
    display:block;
    float:left;
    overflow:hidden;
}